<ion-content [fullscreen]="true">
  <ion-row class="">
    <ion-col >
      
      <div id="formulario">

        <div class="center">
          <div  id="circulo" >
            <img src="../../assets/icon/logoBlanco.png" alt="img logo">
          </div>          
        </div>

       
        <div class="cente">
          <form (ngSubmit)="login()">
            <ion-item>
              <ion-label position="floating">Cedula</ion-label>
              <ion-input type="number" [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
                            
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [(ngModel)]="password" name="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
              <ion-icon *ngIf="showPassword === false" name="eye" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
              <ion-icon *ngIf="showPassword !== false" name="eye-off" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
            
            <button expand="full" type="submit">Iniciar sesión</button>
            
          </form>
        </div>

        <div class="respo">
          <img src="../../assets/Captura de pantalla 2023-10-20 200054.png" class="hola">
        </div>
      </div>
      
    </ion-col>
    <ion-col id="col2" >

      <div>
        <img src="../../assets/Captura de pantalla 2023-10-20 200054.png" class="pool">
        <p id="p2">{{fechaFormateada}}</p>
      </div>

    </ion-col>
  </ion-row>
</ion-content>