.pop{
    --background: rgb(57, 169, 0);
}

h1{
    text-align: center;
    font-size: 30px;
    position: absolute;
    margin-top: -400px;
}

h3{
    
    margin-left: 20px;
    font-size: 22px;
    color:#FFFFFF
}

.logo{
    height: 70px;
    padding-left: 690px;
}
  
.botonsesion{
    --color:#ffffff;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    background: #39A900;
    margin: 15px;
    font-size: 20px;
}
.botonsesion:hover{
    --color: white;
    background-color: rgb(57, 169, 0);
    border: 3px solid  white;
}

ion-card{
    ion-item{
        button{
            background-color: rgb(57, 169, 0);
            width: 200px;
            height: 40px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        button:hover{
            color: rgb(57, 169, 0);
            background-color: transparent;
            border: 3px solid  rgb(57, 169, 0);
        }
    }
}
// estilos del footer
.centered-image {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: transparent;
}
img {
    max-width: 100%; 
    max-height: 100%; 
}
content{
    border: 2px solid #39A900 ;
}

.centered-text {
    text-align: center;
}

@media screen and (max-width: 414px){

    h3, .logo{
        display: none;
    }
    
    .botonsesion{
        --color:#ffffff;
        width: 120px;
        height: 60px;
        border-radius: 10px;
        background: #39A900;
        font-size: 20px;
    }

}