//encabezado
.pop{
  --background: rgb(57, 169, 0);
  
}

.logo{
  height: 70px;
  margin-left: 700px;
  
}

h3{
 
  font-size: 20px;
  color:#FFFFFF
}

.uno{
  border: 2px solid  rgb(57, 169, 0);
   margin-top: 100px;
   text-align: center;
   font-size: 20px;
   border-radius: 30px;
   width: 240px;
   height: 280px;
   justify-content: center;
   
}

.kilo{
  --background: #FFFFFF;
}

.botonsesion{
  --color:#ffffff;
  font-size: 18px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.botonsesion:hover{
  background-color: white;
  border: 3px 0 rgb(57, 169, 0);
  --color: rgb(57, 169, 0);
}

ion-title{
 
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  border-bottom: 2px solid black;
  display: inline-block;
}
ion-icon{
  margin-left: 35px;
  width: 120px;
  height: 160px;
}
.uno:hover, .two:hover, .tre:hover{
  background-color: rgb(57, 169, 0);
  color: white;
  cursor: pointer;
  ion-icon{
    color: white;
  }
}
ion-card-content{
  font-size: 30px;
}
.este{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1px;
}
.center{
  text-align: center;
}
ion-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}
@media screen and (max-width: 600px){
.este{
  display:none;
}

ion-title{
 
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  border-bottom: 2px solid black;
  display: inline-block;
}

.botonsesion{
  font-size: 15px;
  margin-left: 0px;
}
.uno:hover, .two:hover, .tre:hover{
  background-color: rgb(57, 169, 0);
  color: white;
  cursor: pointer;
  ion-icon{
    color: white;
  }
}
}