

<ion-header class="pop" [translucent]="false">
  <ion-toolbar class="pop" >
    <ion-item id="header" class="pop">
      <h3> IUMACO </h3> 
      <div class="center">
        <img src="../../assets/sena.png" class="logo">
      </div>
      <div class="custom-button" slot="end">
        <ion-button fill="clear" class="botonsesion"  (click)="confirmarSalida()">Cerrar sesión</ion-button>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content  class="jiji">
  <div class="center">
    <ion-title>INSTRUCTOR</ion-title>
  </div>
  <div class="center">
    <ion-row>
      <ion-col >
        <ion-card class="uno" (click)="felicitarAprendiz()" >
          <ion-card-header>
            <ion-icon  name="ribbon-outline" id="icon1"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Felicitaciones 
          </ion-card-content>
        </ion-card>
        <br><br>
        <ion-button (click)="cambiarEstadoF()"> historial Felicitaciones  </ion-button>
        <br><br>

        <div *ngIf="historialFelicitar === true">
          <ion-card  *ngFor="let F of gHistorialFelicitar" >
            <ion-item>
              Nota: {{F.nota}}<br>
              Id del aprendiz:{{F.aprendizFK}}<br>
              Fecha: {{F.fecha}}<br>
            </ion-item>
          </ion-card>
        </div>

      </ion-col>
      <ion-col>
        <ion-card class="uno" (click)="llamadoAtencion()" >
          <ion-card-header>
            <ion-icon name="thumbs-down-outline" id="icon2"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Llamado de Atencion 
          </ion-card-content>
        </ion-card>
        <br><br>
        <ion-button (click)="cambiarEstadoL()"> historial Llamado de Atencion </ion-button>
        <br><br>

        <div *ngIf="historialLlamado === true">
          <ion-card  *ngFor="let L of gHistorialLlamado" >
            <ion-item>
              Nota: {{L.nota}}<br>
              Id del aprendiz:{{L.aprendizFK}}<br>
              Fecha: {{L.fecha}}<br>
            </ion-item>
          </ion-card>
        </div>

      </ion-col>
      <ion-col>
        <ion-card class="uno" (click)="citacionComite()">
          <ion-card-header>
            <ion-icon name="reader-outline" id="icon3"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Solicitud para comite
          </ion-card-content>
        </ion-card>
        <br><br>
        <ion-button (click)="cambiarEstadoS()"> historial Solicitud para comite </ion-button>
        <br><br>

        <div *ngIf="historialSolicitud === true">

          <ion-card  *ngFor="let S of gHistorialSolicitud" >
            <ion-item>
              Cargos: {{S.nota}}<br>
              Id del aprendiz:{{S.aprendizFK}}<br>
              Link de Evidencias: {{S.linkEvidencias}}<br>
            </ion-item>
          </ion-card>

        </div>
        
      </ion-col>
    </ion-row>

  </div>
  <img class="este" src="../../assets/icon/Captura-fondo-sena.png">
</ion-content>