
<ion-header class="pop" [translucent]="false">
  <ion-toolbar class="pop" >
    <ion-item id="header" class="pop">
      <h3> IUMACO </h3> 
      <div id="logo"><img src="../../assets/sena.png" class="logo"></div>
      <div class="custom-button" slot="end">
        <ion-button fill="clear" class="botonsesion"  (click)="confirmarSalida()">Cerrar sesión</ion-button>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content  class="jiji">
  <ion-title>INSTRUCTOR</ion-title>
  <ion-row>
    <ion-col size="4">
      <ion-card class="uno" (click)="felicitarAprendiz()" >
        <ion-card-header>
          <ion-icon  name="ribbon-outline" id="icon1"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          Felicitaciones 
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="two" (click)="llamadoAtencion()" >
        <ion-card-header>
          <ion-icon name="thumbs-down-outline" id="icon2"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          Llamado de Atencion 
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="tre" (click)="citacionComite()">
        <ion-card-header>
          <ion-icon name="reader-outline" id="icon3"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          Solicitud para comite
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <img class="este" src="../../assets/icon/Captura-fondo-sena.png">
</ion-content>
