//encabezado
.pop{
  --background: rgb(57, 169, 0);
  
}
h1{
  text-align: center;
  font-size: 30px;
  position: absolute;
  margin-top: -400px;

}
h3{
  margin-left: 20px;
  font-size: 22px;
 color:#FFFFFF
}
.logo{
  height: 70px;
  padding-left: 690px;
  
}
.botonsesion{
  --color:#ffffff;
  height: 40px;
  border-radius: 10px;
}
.botonsesion:hover{
  background-color: white;
  --color: rgb(57, 169, 0);
}

//cuerpo
.centered-container {
  display: flex;
  height: 100%;
  padding-left: 10px;
}

#formulario{
  padding-top: 50px;
  margin-top: 60px;
}

#formularioCitacionComite {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(57, 169, 0);
}

h2 {
  margin-left: 550px;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  border-bottom: 2px solid black;
  display: inline-block;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: transparent;
}
select, textarea {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input:hover{
  background-color: white;
  color: rgb(57, 169, 0);
}

.cuadro, #imagenEvidencia{
  border-radius: 5px;
}

pre{
  color: black;
}

.este{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1px;
}