ion-select{
    margin-right: 40px;
    margin-left: 40px;
}

ion-content { 
    --background:  #39A900; 

    #curDate{   
        --background: #39A900;
        
        #item1{
            margin-right: 20px;
        }
        #item2{
            margin-right: 20px;
        }
        #item3{
            margin-right: 20px;
        }
    }
}